.jumbotron {
    background-color: #ffad33;
    color: #ffffff;
}

img {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

body {
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffad33;
}

    ul.topnav li {
        float: left;
    }

        ul.topnav li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            ul.topnav li a:hover:not(.active) {
                background-color: #ffffff;
            }

            ul.topnav li a.active {
                background-color: #a4a1a1;
            }

        ul.topnav li.right {
            float: right;
        }

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}
